#content {
  width: 476px;
  margin: 0 auto;
}

.cell{
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  float: left;
  text-align: center;
  line-height: 50px;
}

.cell.hover, .cell:hover {
  background-color: #ddd;
}

.row {
  clear: both;
}

.row:nth-child(1) .cell{
  border-top: 3px solid black;
}

.row:nth-child(3) .cell, .row:nth-child(6) .cell, .row:nth-child(9) .cell{
  border-bottom: 3px solid black;
}


.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7){
  border-left: 3px solid black;
}

.cell:nth-child(9){
  border-right: 3px solid black;
}


.borderBottom{
  border-bottom: 3px solid black;
}

.borderRightSide{
  border-right: 3px solid black;
}

